$bg-green :  rgb(63, 81, 75);
$bg-gray :  rgb(189, 188, 188);

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #ffd700;

$font-size-title: 46px;
$font-size-small: 18px;
$padding-components-all: 30px;
$padding-menu: 20px;

$progres-knowledge-color: linear-gradient(45deg,#808080,#3fada8);
$progres-interests-color: linear-gradient(45deg,#649173,#8b8768);